@import url("components/button.css");
@import url("components/card.css");


body {
  height: 813px;
  width: auto;
  background-image: linear-gradient(rgba(80,31,193), rgba(195,70,213));
}

.App {
  text-align: center;
  height: 100%;
  width: auto;
  background-image: linear-gradient(rgba(80,31,193), rgba(195,70,213));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-login {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 8px 32px;
  margin: 16px;
  top: 16px;
  border-radius: 48px;
  background-image: linear-gradient(120deg,rgba(195,70,213) 60%, rgba(80,31,193))
}

/* Media Queries */
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 992px) {

}
